body {
    color: #aaa;
    background: #222;
}

th, td {
    color: inherit;
    border: 2px solid;
    border-color: black;
    background: #333;
}

input {
    color: inherit;
    background: black;
    border-color: black;
}
