{% extends 'base.html' %}
{% block body %}
    <div id="node-numbers">
        Please enter the number of joints in the structure.<br>
        <input type="number" id="number-of-nodes" value="5"><br>
        This will generate input tables based on the input number of joints.<br>
        <button type="button" name="make-tables" onclick="momentDist.makeInTables();">Generate Input Tables</button>
    </div>
    <!-- A string of html referring to the input tables will be plugged in this div -->
    <div id="input-tables"></div>
{% endblock %}
