{% extends 'base.html' %}
{% block body %}
    <div id="input-nodes">
        <span>Enter the number of joints in the structure. Min = 2, Max = 20.</span><br>
        <input type="number" id="number-of-nodes" value="5"><br>
        <span>Maximum Iterations: Min = 1, Max = 50</span><br>
        <input type="number" id="iterations" value="10"><br>
        <span>Minimum % Error: Min = 0.001</span><br>
        <input type="number" id="error" value="1"><br>
        <span>This will generate input tables based on the input number of joints.</span><br>
        <button type="button" id="make-tables">Generate Input Tables</button>
    </div>
    <!-- A string of html referring to the input tables will be plugged in this div -->
    <div id="input-tables"></div>
    <!-- A string of html referring to the output table will be plugged in this div -->
    <div id="output-table"></div>
{% endblock %}
