<!--
<table>
	<caption>Here we assign header information to cells by setting the scope attribute.</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Side</th>
			<th>Role</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>Darth Vader</td>
			<td>Dark</td>
			<td>Sith</td>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Obi Wan Kenobi</td>
			<td>Light</td>
			<td>Jedi</td>
		</tr>
		<tr>
			<td>Greedo</td>
			<td>South</td>
			<td>Scumbag</td>
		</tr>
	</tbody>
</table>
-->

<form class="inputs" action="#">
    <table>
        <tr>
            <td><input type="number" name="00" value=25></td>
        </tr>
    </table>
</form>
