/* App-wide rules */

html {
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 60%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    line-height: 1.6;
}

table {
    border-collapse: collapse;
}

button {
    font-size: inherit;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

input {
    padding: 0.2rem 0.3rem 0.2rem;
    margin: 0.2rem 0.3rem 0.2rem;
    border: 1px solid hsl(270, 50%, 50%);
    color: hsl(0, 0%, 60%);
    background-color: hsl(0, 0%, 15%);
    border-radius: 0.3rem;
}

input[type="number"] {
    width: 15rem;
}

input[type="number"], input[type="text"] {
    font-size: 2rem;
    padding: 0 0.3rem;
}

td, th {
    border: 2px solid black;
}

/* None app-wide rules */

section.content {
    position: absolute;
    top: 3rem;
    left: 15%;
    min-width: 70%;
    height: 100%;
    padding: 0 2rem;
}

/* Tab tag rules*/

ul.tabs {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

section.content .tabs li {
    /* Three tabs occupying 33.3% of container width each */
    width: 33.33%;
    text-align: center;
    float: left;
    border: 1px solid hsl(270, 50%, 40%);
    border-radius: 0 2rem 0 0;
    background-color: hsl(270, 50%, 50%);
}

section.content .tabs li a {
    display: inline-block;
    color: black;
    line-height: 3;
    width: 100%;
}

/* Rules for panels */

/* Float clearing div */
section.content div.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

section.content div {
    padding: 3rem 2rem;
    /* This margin enables bottom border of section to be seen */
    margin-bottom: 2rem;
    border: 1px solid hsl(270, 100%, 30%);
    border-top: none;
    background-color: hsl(0, 0%, 8%);
}


/* Rules for starting input boxes */

/* Headers and row labels */
#input-tables thead th,
#input-tables tbody td:first-child {
    color: hsl(0, 0%, 0%);
    background-color: hsl(270, 50%, 35%);
}

#input-tables td {
    /*color: hsl(0, 0%, 0%);*/
    background-color: hsl(270, 50%, 20%);
}

#input-nodes input {
    width: 6rem;
    /* This margin spaces out the input boxes */
    margin: 2rem 0 4rem;
}

#input-nodes #error {
    width: 8rem;
}

#input-nodes button {
    margin-top: 2rem;
}


/* Nodes input table rules*/

#input-tables table {
    margin-bottom: 2rem;
}

#input-tables table[name="nodes"] th,
#input-tables table[name="moments"] th {
    font-style: normal;
    text-transform: capitalize;
    width: 5rem;
    padding: 1rem 1rem;
}

/* Centers input boxes in 'Joint Names' table */
table[name="nodes"] td:nth-child(2) {
    text-align: center;
}

table[name="nodes"] td:nth-child(2) input {
    width: 50%;
}

/* Places the 'Node Connection' label at center of checkboxes */
table[name="nodes"] th:nth-child(3) {
    text-align: left;
    text-indent: 3rem;
}

table[name="nodes"] td:first-child {
    text-align: right;
    font-style: italic;
    padding: 0 2rem;
}

table[name="nodes"] td:nth-child(n+3) {
    width: 8rem;
}

/* DF, COF and Init table rules */

table tbody tr td input.input-diagonal {
    background-color: hsl(0, 0%, 5%);
    border-color: black;
}

#input-tables th:first-child {
    text-transform: uppercase;
    font-style: italic;
    padding: 0 3.2rem;
}

#input-tables td:first-child {
    text-align: center;
    font-style: italic;
    padding: 0 2rem;
}
