/* App-wide rules */

html {
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    color: #aaa;
    background: #222;
    font-size: 2rem;
}

table {
    border-collapse: collapse;
}

ul.tabs {
    padding: 0;
    list-style: none;
}

th, td {
    color: inherit;
    border: 2px solid;
    border-color: black;
    background: #333;
}

.input-diagonal {
    background: #444;
    border-color: black;
}

input {
    color: inherit;
    background: black;
    border-color: black;
}
